@import "colors";

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header {
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 40px;
        height: 36px;
        background-color: $wildsand;
    }

    &__top-icons {
        display: flex;
        gap: 15px;
        margin-top: 15px;


        li {
            list-style: none;
        }
    }

    &__top-links {
        display: flex;
        gap: 10px;

        div {
            font-size: 14px;

            a {
                text-decoration: none;
                color: $black;

            }


            a:hover {
                color: $gray;

            }
        }

    }
}

.header__nav {
    padding: 0 50px;

    .nike-icon {
        width: 80px;
        max-width: 90;

        a {
            color: $black;
            padding-left: 15px;
        }
    }

    &-links {
        ul{
            li {
                list-style: none;
            }
        }
        button{
            border: none;
            background-color: $white;
        }

    }
}